<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>
Create Petitions
</title>
</head>
<body>
<h1>Create a  New Petition</h1>
<form action="/petition/create" method="post">
<div>
	<label for="title">Petition Title: </label><br>
	<input type="text" id="title" name="title" required>
</div>
<br>
<div>
	<label for="description">Description</label><br>
	<textarea id="description" name="description" rows="4"
 required></textarea>
 </div>
 <br>
 <div>
 <label for="target">Gather Signatures: </label><br>
 <input type=text" id="target" name="target" required>
 
 </div>
 <br>
 <button type="submit">Create Petition</button>
</form>

<br>
<a href="/">Back to Home</a>
</body>
</html>